body {
  background-color: #f3f3f3;
  min-height: 100vh;
}
.click {
  cursor: pointer;
}
.error-color {
  color: #ff3860;
}
.flex {
  display: flex;
}

.content-box {
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 50px;
  width: 750px;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}
.page-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}
.list-header {
  font-weight: bold;
  margin-bottom: 20px;
}
