.application-list {
  /* todo */
}
.application {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.application-status {
  /* font-style: italic; */
}

.app-header {
  font-weight: bold;
  margin-bottom: 40px;
}

.right {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
