.applications .name {
  width: 280px;
}
.applications .status {
  width: 320px;
}

.applications .new {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.applications .entry .name {
  overflow-wrap: break-word;
}
.applications .entry .status {
  font-size: smaller;
  overflow-wrap: break-word;
}
.applications .entry .status .date {
  font-weight: bold;
  color: #81b29a;
}
