.upload-button {
  margin-top: 20px;
  margin-right: 20px;
}

.step-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.spinner {
  margin-left: 10px;
}

.upload-info-confirm {
  font-weight: bold;
  margin-top: 20px;
}

.select-result-box {
  width: 570px;
  margin-bottom: 15px;
  background-color: #f3f3f3 !important;
}

.upload-description {
  margin-bottom: 25px;
}

.wizard-step-bar {
  margin-bottom: 10px;
}

.remove-file {
  margin-left: 5px;
  margin-top: 5px;
}

.back-button {
  margin-top: 20px;
  margin-right: 20px;
}

.step3-description {
  margin-bottom: 30px;
}
