.click {
  cursor: pointer;
}

.content-box {
  background-color: white;
  margin-top: 30px;
  margin-left: 40px;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 50px;
  width: 750px;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.timeline-mainstep {
  width: 450px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  color: white;
  border-radius: 0.25rem;
}
.collapse {
  margin-top: 5px;
}
.timeline-head {
  font-size: 20px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.timeline-item-header {
  font-weight: bold;
}

.application-title {
  font-size: 22px;
  margin-bottom: 20px;
}
.current {
  background-color: #209cee;
}
.done {
  background-color: #48c774;
}
.future {
  background-color: #363636;
}
.message-icon {
  color: #fa842b;
}

.main-step-time {
  font-style: italic;
  color: #e7c0a7;
  float: right;
}
