.application-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.application-description {
  margin-bottom: 15px;
}

.application-institution {
  margin-bottom: 10px;
}

.application-user {
  margin-bottom: 15px;
}

.application-action {
  margin-bottom: 25px;
}

.application-action .button {
  margin-right: 20px;
}
