.applications-manage-header-name {
  width: 200px;
}
.applications-manage-header-status {
  width: 250px;
}
.applications-manage-header-user {
  width: 200px;
}
.applications-manage-name {
  width: 200px;
}
.applications-manage-status {
  width: 250px;
}
.applications-manage-user {
  width: 200px;
}
