.timeline-mainstep {
  width: 450px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  color: white;
  border-radius: 0.25rem;
}

.timeline-head {
  font-size: 20px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
.timeline-item-header {
  font-weight: bold;
}
.collapse {
  margin-top: 5px;
}
.application-title {
  font-size: 22px;
  margin-bottom: 20px;
}
.current {
  background-color: #209cee;
}
.success {
  background-color: #48c774;
}
.future {
  background-color: #363636;
}
.danger{
  color: #FF0000;
}
.main-step-time {
  font-style: italic;
  color: #e7c0a7;
  float: right;
}
