.timeline-mainstep {
  width: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 0.25rem;
}

.timeline-head {
  font-size: 20px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
.timeline-item-header {
  font-weight: bold;
}
.collapse {
  margin-top: 5px;
}
.application-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: black;
}
.main-step-time {
  font-style: italic;
  color: #e7c0a7;
  float: right;
}
/* .success {
  background-color: #48c774;
}
.current {
  background-color: #209cee;
}

.future {
  background-color: #363636;
} */
.danger {
  color: #ff0000;
}
/* Timeline item colors */
.success {
  background-color: #ececec;
  color: #4a4a4a;
}
.current {
  background-color: #4281a4;
}

.future {
  background-color: #ececec;
  color: #4a4a4a;
}
.check-icon {
  color: #327b00;
  margin-right: 5px;
}
.timeline .timeline-item .timeline-marker.item-fail {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.timeline .timeline-item .timeline-marker.item-fail.is-icon {
  color: white !important;
}
.timeline .timeline-item.item-fail::before {
  background-color: #ff0000;
  width: 1.5px;
}
.timeline .timeline-item .timeline-marker.item-successful {
  background-color: #327b00 !important;
  border-color: #327b00 !important;
}
.timeline .timeline-item .timeline-marker.item-successful.is-icon {
  color: white !important;
}
.timeline .timeline-item.item-successful::before {
  background-color: #327b00;
  width: 1.5px;
}
.timeline .timeline-item .timeline-marker.item-current {
  background-color: #4281a4 !important;
  border-color: #4281a4 !important;
}
.timeline .timeline-item .timeline-marker.item-current.is-icon {
  color: white !important;
}
.timeline .timeline-item.item-current::before {
  background-color: #4281a4;
  width: 1.5px;
}
.timeline .timeline-item .timeline-marker.item-future {
  background-color: #363636 !important;
  border-color: #363636 !important;
}
.timeline .timeline-item .timeline-marker.item-future.is-outlined {
  background-color: #fff !important;
}
.timeline .timeline-item.item-future::before {
  background-color: #363636;
  width: 1.5px;
}

.bold-button {
  font-weight: bolder;
}
