.loginForm {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.login .notification {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.test-data-info-box {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.user-box {
  margin-right: 40px;
}

.user-container {
  margin-top: 20px;
  margin-bottom: 30px;
}
