.loginForm {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.loginForm .notification {
  margin-top: 10px;
}

.test-data-info-box {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
